body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header__h1 {
  margin: 20px;
  padding: 10px;
  color: #424242;
}

.doc .doc__background-ribbon {
  height: 200px;
  background: #3F51B5;
}

.doc .doc__text-editor {
  width: 60%;
  padding: 40px 28px;
  min-height: 300px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: -150px;
  font-size: 24px;
}

.members_block {
    position: relative;
    float: right;
    width: 16%;
    border: 2px double #ddd;
    margin: 10px;
}
.members_block h1{
    float: right;
    text-shadow: 1px 1px 10px #3F51B5;
    color: white;
    margin-right: 10%;
}
.members_block ul {
    padding: 0px 20px 0px 20px;
}
.members_block ul li{
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}