body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header__h1 {
  margin: 20px;
  padding: 10px;
  color: #424242;
}

.doc .doc__background-ribbon {
  height: 200px;
  background: #3F51B5;
}

.doc .doc__text-editor {
  width: 60%;
  padding: 40px 28px;
  min-height: 300px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(-150px);
}